body{
    font-size: 16px;
    font-family: 微軟正黑體;
}
/* 標題 */
.head{
    margin-top:10px;margin-bottom: 10px;/* div區塊上下各留10px */
    border: 1px solid black;/* boder : 邊線粗細 樣式 邊線顏色 */
    padding: 10px;/* 內部文字與邊框間隔10px */
    background-color: bisque;
    font-size: 20px;
    text-align: center; /* 文字置中 */
}

/* 內文 */
/* 只套用在div的標籤上 */
div.content table p{
    /* display: flex; */
    margin-left:10px;margin-right: 10px;
    border: 1px;/* boder : 邊線粗細 樣式 邊線顏色 */
    flex-direction: column;
    /* text-align: center; */
    font-size: 1.1rem;
}

/* 表格 */
/* table{
    width: 1200px;border: 1px solid #888888;
} */
td{
    width: 800px;border: 1px solid #888888;
    text-align: center; /* 文字置中 */
}
/* 表格中的第一對 tr-虛擬標籤 */
tr:nth-child(1){
    background-color: goldenrod;color:#fff;
}


